.btn {
  color: $accent;
  font-weight: 200;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}
.btn-get {
  padding: 10px 20px;
  background-color: $colorbtn;
  font-weight: 300;
  font-size: 30px;
  line-height: 25px;

  @media (max-width: 1024px) {
    font-size: 20px;
  }
  @media (max-width: 768px) {
    font-size: 14px;
  }
}
