.to-top {
  color: $textcolor;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  text-decoration: none;
  background-color: transparent;

  display: none;
  align-items: flex-end;
  justify-content: flex-end;

  position: fixed;
  bottom: 20px;
  right: 1px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  &-img {
    width: 35px;
  }
}
