.logo-img {
  padding: 20px 0;
  width: 100px;
  @media (max-width: 768px) {
    padding-top: 20px;
  }
  @media (max-width: 425px) {
    width: 80px;
  }
}
.logo-text {
  color: $textlogo;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: 0.05em;
  padding-left: 20px;

  @media (max-width: 1024px) {
    font-size: 40px;
  }
  @media (max-width: 768px) {
    font-size: 25px;
  }
}
