.pages {
  margin: 85px 100px;
}
.logo-img {
  padding-bottom: 25px;
}
.logo-text {
  color: $textlogo;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: 0.05em;
  padding-left: 20px;
}
