.main {
  display: flex;

  @media (max-width: 425px) {
    justify-content: center;
  }
}

.content {
  background-color: $accent;
}

.pages {
  max-width: 50%;
  margin: 85px 65px;
  &-body {
    padding: 0;
    &-button {
      list-style: none;
    }
    @media (max-width: 425px) {
      display: flex;
      justify-content: center;
    }
  }

  @media (min-width: 1024px) {
    margin: 15px 35px;
  }
  @media (min-width: 768px) {
    margin: 0;
  }
  @media (max-width: 425px) {
    max-width: 100%;
    margin: 0;
  }
}

.images {
  display: flex;
  justify-content: end;
  position: absolute;

  &-first {
    width: 80%;

    @media (min-width: 1024px) {
      width: 75%;
    }
  }
}
.single {
  width: 70%;
  padding: 100px 8px;
  &-paragraph {
    color: $textcolor;
    font-weight: 300;
    font-size: 25px;
    line-height: 45px;
    letter-spacing: 0.05em;

    @media (max-width: 1024px) {
      font-size: 20px;
      line-height: 35px;
    }
    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 25px;
    }
  }
  @media (max-width: 1024px) {
    padding: 40px 5px;
    width: 80%;
  }
  @media (max-width: 768px) {
    padding: 30px 0;
  }
}
.title {
  padding-top: 50px;
  max-width: 100%;

  &-block {
    display: flex;
    justify-content: space-around;
    padding: 80px;

    &-heading {
      width: 300px;
      height: 200px;
      font-size: 62px;
      font-weight: 500;
      line-height: 75px;

      @media (max-width: 1024px) {
        font-size: 40px;
        line-height: 50px;
      }
      @media (max-width: 425px) {
        height: 100px;
        width: auto;
      }
    }
    .title-description {
      font-size: 24px;
      font-weight: 400;
      line-height: 35px;
      width: 400px;

      @media (max-width: 1024px) {
        line-height: 27px;
        font-size: 20px;
      }
      @media (max-width: 768px) {
        line-height: 24px;
        font-size: 15px;
      }
      @media (max-width: 425px) {
        padding-bottom: 40px;
        width: 100%;
      }
    }
    @media (max-width: 768px) {
      padding: 15px;
    }
    @media (max-width: 425px) {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
  }
}
.section {
  padding: 100px 50px;
  background-image: url('../../../images/src/lines-wood.svg');
  background-color: $accent;

  &-body {
    &-description {
      font-size: 24px;
      font-weight: 400;
      line-height: 38px;

      @media (max-width: 1024px) {
        font-size: 18px;
        line-height: 25px;
      }
      @media (max-width: 768px) {
        font-size: 12px;
        line-height: 17px;
      }
      @media (max-width: 425px) {
        font-size: 15px;
        line-height: 20px;
      }
    }

    @media (max-width: 425px) {
      margin: 40px 0;
    }
  }
  @media (max-width: 425px) {
    padding: 20px 0;
  }
}
