.main {
  display: flex;
  justify-content: space-between;
}

.content {
  background-color: $accent;
}
.pages {
  max-width: 50%;

  &-body {
    display: contents;
    &-button {
      list-style: none;
    }
  }
}

.images {
  display: flex;
  justify-content: end;
  position: absolute;

  &-first {
    width: 70%;
  }
}
.single {
  width: 70%;
  padding: 50px 0;
  &-paragraph {
    color: $textcolor;
    font-weight: 300;
    font-size: 25px;
    line-height: 45px;
    letter-spacing: 0.05em;
    padding-bottom: 40px;
  }
}
.title {
  padding-top: 50px;
  max-width: 100%;

  &-block {
    display: flex;
    justify-content: space-around;
    padding: 50px;

    &-heading {
      width: 300px;
      height: 200px;
      font-size: 62px;
      font-weight: 500;
      line-height: 75px;
    }
    .title-description {
      font-size: 24px;
      font-weight: 400;
      height: 200px;
      line-height: 35px;
      width: 400px;
      padding: 15px 0;
    }
  }
}
.section {
  padding: 100px 50px;
  background-image: url('../../../images/src/lines-wood.svg');
  background-color: $accent;

  &-body {
    &-description {
      font-size: 24px;
      font-weight: 400;
      line-height: 38px;
    }
  }
}
